---
import { Image } from "astro:assets";
import BaseHead from "../../components/BaseHead.astro";
import Body from "../../components/Body.astro";
import Footer from "../../components/Footer.astro";
import FormattedDate from "../../components/FormattedDate.astro";
import Header from "../../components/Header.astro";
import Link from "../../components/Link.astro";
import MainCenter from "../../components/MainCenter.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../../consts";
import { getPublishedBlogPosts } from "../../content/blog/_getPublishedBlogPosts";
import Html from "../../layouts/Html.astro";

const posts = await getPublishedBlogPosts();
---

<!doctype html>
<Html>
	<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	<Body>
		<Header />
		<MainCenter>
			<section>
				<ul class="grid gap-16">
					{
						posts.map((post) => (
							<li>
									<div class="space-y-2">
										<div>
											<h2
												class={
													"text-xl leading-none font-bold "
												}
											>
												<Link href={`/blog/${post.slug}/`} transition:name={`blog-post-card-${post.data.title}`}>
													{post.data.title}
												</Link>
											</h2>
											<FormattedDate
											transition:name="blog-post-date"
												date={post.data.published}
											/>
										</div>

										<p class="text-gray-700 dark:text-gray-300">
											{post.data.description}
										</p>
										{post.data.heroImage && (
											<Image
												src={post.data.heroImage}
												alt={post.data.heroAlt ?? null}
												class="mb-4"
											/>
										)}
									</div>
							</li>
						))
					}
				</ul>
			</section>
		</MainCenter>
		<Footer />
	</Body>
</Html>
