---
import CopyButton from "./CopyButton.astro";
import EmailLink from "./EmailLink.astro";
import ShareButton from "./ShareButton.astro";
type Props = { title: string; url: string };

const { title, url } = Astro.props;
---

<div class="space-y-4">
	<h2 class="text-lg font-bold">Share this post</h2>
	<div class="flex gap-4">
		<ShareButton title={title} url={url}>📣 Share</ShareButton>
		<EmailLink subject={`Kevin Kipp's post: ${title}`} body={url}>
			📧 Email
		</EmailLink>
		<CopyButton text={url}>🔗 Copy Link</CopyButton>
	</div>
</div>
