---
import CopyButton from "./CopyButton.astro";
import ShareButton from "./ShareButton.astro";
type Props = { title: string; url: string };

const { title, url } = Astro.props;
---

<div class="space-y-4">
	<h2 class="text-lg font-bold">Share this post</h2>
	<div class="flex gap-4">
		<ShareButton title={title} url={url}>📣 Share</ShareButton>
		<a href={`mailto:?subject=Kevin Kipp's post: ${title}&body=${url}`}
			>📧 Email</a
		>
		<CopyButton text={url}>🔗 Copy Link</CopyButton>
	</div>
</div>
