---
import type { CollectionEntry } from 'astro:content';
import BaseHead from '../components/BaseHead.astro';
import Body from '../components/Body.astro';
import Footer from '../components/Footer.astro';
import FormattedDate from '../components/FormattedDate.astro';
import Header from '../components/Header.astro';
import MainCenter from '../components/MainCenter.astro';

type Props = CollectionEntry<'blog'>['data'];

const { title, description, pubDate, updatedDate, heroImage } = Astro.props;
---

<html lang="en" class="h-full">
	<head>
		<BaseHead title={title} description={description} />
	</head>

	<Body>
		<Header />
		<MainCenter>
			<article>
				{
					heroImage && (
						<div class="hero-image">
							<img
								class="max-w-full"
								width={1020}
								height={510}
								src={heroImage}
								alt=""
							/>
						</div>
					)
				}
				<div
					class="prose prose-gray dark:prose-invert prose-lg prose-a:font-normal prose-a:text-gray-200 prose-code:before:content-none prose-code:after:content-none prose-code:bg-gray-200 dark:prose-code:bg-gray-800 prose-code:px-2 prose-code:py-1 prose-code:rounded-md"
				>
					<div class="">
						<div class="">
							<FormattedDate date={pubDate} />
							{
								updatedDate && (
									<div class="last-updated-on">
										Last updated on <FormattedDate date={updatedDate} />
									</div>
								)
							}
						</div>
						<h1>{title}</h1>
						<hr />
					</div>
					<slot />
				</div>
			</article>
		</MainCenter>
		<Footer />
	</Body>
</html>
