---
import { Image, getImage } from "astro:assets";
import type { CollectionEntry } from "astro:content";
import BaseHead from "../components/BaseHead.astro";
import Body from "../components/Body.astro";
import Footer from "../components/Footer.astro";
import FormattedDate from "../components/FormattedDate.astro";
import Header from "../components/Header.astro";
import MainCenter from "../components/MainCenter.astro";
import Prose from "../components/Prose.astro";
import Html from "./Html.astro";

type Props = CollectionEntry<"blog">["data"];

const { title, description, published, updatedDate, heroImage, heroAlt } =
	Astro.props;

const ogImage = heroImage
	? (
			await getImage({
				src: heroImage,
				width: 1200,
				height: 630,
			})
	  ).src
	: undefined;
---

<Html>
	<BaseHead title={title} description={description} image={ogImage} />
	<Body>
		<Header />
		<MainCenter>
			<article class="space-y-12" transition:name={`blog-post-card-${title}`}>
				<div class="space-y-3">
					<h1 class="text-3xl font-bold">
						{title}
					</h1>
					<FormattedDate date={published} />
					{
						updatedDate && (
							<div>
								Last updated on <FormattedDate date={updatedDate} />
							</div>
						)
					}
					<p class="text-gray-500 dark:text-gray-400">
						{description}
					</p>
					{
						heroImage && (
							<div class="hero-image">
								<Image
									class="max-w-full"
									width={1020}
									height={510}
									src={heroImage}
									alt={heroAlt ?? ""}
								/>
							</div>
						)
					}
				</div>
				<Prose>
					<slot />
				</Prose>
			</article>
		</MainCenter>
		<Footer />
	</Body>
</Html>
